<div class="book-entry">
  <a href="#" class="flex-container">
    <div class="book-entry-image">
      <img src="<%= image_url('trees.svg')%>">
    </div>
    <div class="book-entry-title">
      <h3><%= post.title %></h3>
      <div class="date">
        14.07.2016 - 28.07.2016
      </div>
    </div>
  </a>
</div>