<%= render partial: "layouts/header-image", locals: {
    text: "Bearbeiten",
    image: image_url('huettenbuch_bg.jpg'),
    classes: "small-header without-image-header huettenbuch-header-img" 
} %>

<div class="container">

	<%= render 'form', post: @post %>

	<%= link_to 'Show', @post %> |
	<%= link_to 'Back', guestbook_posts_path %>
</div>