<%= render partial: "layouts/header-image", locals: {
    text: "Neuer Eintrag",
    image: image_url('huettenbuch_bg.jpg'),
    classes: "small-header without-image-header huettenbuch-header-img" 
} %>

<div class="container">
  <%= link_to t(:back), guestbook_posts_path, :class => "btn ghost-btn gutter-margin" %>
	<%= render 'form', post: @post %>
</div>
