<%= render partial: "layouts/header-image", locals: {
    text: "Bearbeiten",
    image: image_url('wiese.JPG'),
    classes: "small-header without-image-header"
} %>

<div class="container">
  <%= link_to "Benutzer löschen", @user, method: :delete, data: { confirm: "Bist du dir sicher?" }, class: "pull-right btn btn-sm btn-danger-outline gutter-margin" %>
  <div class="clearfix"></div>
	<%= render 'form', user: @user %>
</div>
