<%= render partial: "layouts/header-image", locals: {
    text: "Bearbeiten",
    image: image_url('wiese.JPG'),
    classes: "small-header without-image-header"
} %>

<div class="container">

	<%= render 'form', user: @user %>

	<%= link_to 'Show', @user %> |
	<%= link_to 'Back', users_path %>
</div>
