<div class="container">
  <%= link_to 'New User', new_user_path, class: "btn ghost-btn gutter-margin" %>
  <div class="row content-margin user-listing">
    <% @users.each do |user| %>
      <div class="col-md-4">
        <%= render partial: "users/item", locals: { user: user } %>
      </div>
    <% end %>
  </div>
</div>
