<%= render partial: "layouts/header-image", locals: {
    text: "Neuer Nutzer",
    image: image_url('wiese.JPG'),
    classes: "small-header without-image-header"
} %>

<div class="container">
  <%= link_to t(:back), users_path, class: "btn ghost-btn gutter-margin" %>

	<%= render 'form', user: @user %>

</div>
