<%= render partial: "layouts/header-image", locals: {
    text: "Neue Seite",
    image: image_url('sanktblasien.JPG'),
    classes: "small-header without-image-header background-position-center" 
} %>

<div class="container">

	<%= render 'form', page: @page %>

	<%= link_to 'Back', pages_path %>
</div>

