<%= render partial: "layouts/header-image", locals: {
    text: "Neue Seite",
    image: image_url('sanktblasien.JPG'),
    classes: "small-header without-image-header" 
} %>

<div class="container">

  <%= link_to t(:back), pages_path, :class => "btn ghost-btn gutter-margin" %>

	<%= render 'form', page: @page %>
</div>

