<!--<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      <h1 class="display-3">Willkommen zur Hüttenseite</h1>
      <p class="lead">Furfm furfm furfmschnaps.</p>
      <hr class="m-y-2">
      <p>Die Seite befindet sich aktuell im Aufbau. Daher sind noch nicht alle Funktionen verfügbar. Schau dich einfach um!
        <br>Was du aber auf jeden Fall schon tun kannst, ist einen Eintrag im Hüttenbuch zu verfassen.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Zum Hüttenbuch</a>
      </p>
    </div>
  </div>
</div> -->
<div class="container-fluid">
  <div class="row content-margin">
      <div class="col-xs-12 header-image">
        <img src="<%= image_url('huette.JPG')%>">
        <h1>Die Hütte</h1>
      </div>  
  </div>
</div>
<div class="container">
  <div class="row content-margin">
    <div class="col-md-12">
      <h2>Was Du über die Hütte wissen solltest</h2>
    </div>
    <div class="col-md-4 content-entry">
      <h3><a href="#">Test</a></h3>
      <p>To create a robust and thoughtful visual language, imagery needs to be considered as thoughtfully as the graphic UX elements. This allows users to intuitively understand our products and know that they are in a space that has been thought through down to every last detail</p>
      <button class="btn ghost-btn">Mehr lesen</button>
    </div>
    <div class="col-md-4 content-entry">
      <h3><a href="#">Test</a></h3>
      <p>Das hier ist ein Test</p>
      <button class="btn ghost-btn">Mehr lesen</button>
    </div>
    <div class="col-md-4 content-entry">
      <h3><a href="#">Test</a></h3>
      <p>To create a robust and thoughtful visual language, imagery needs to be considered as thoughtfully as the graphic UX elements. This allows users to intuitively understand our products and know that they are in a space that has been thought through down to every last detail</p>
      <button class="btn ghost-btn">Mehr lesen</button>
    </div>
  </div>
  <div class="row content-margin">
    <div class="col-md-12">
      <h2>Aktuelle Hüttenbucheinträge</h2>
    </div>
    <div class="col-md-6">
      <div class="book-entry content-margin">
        <h3><a href="#">Es regnet den ganzen Tag</a></h3>
        <div class="date">
          14.07.2016 - 28.07.2016
        </div>
      </div>
      <div class="book-entry content-margin">
        <h3><a href="#">Es regnet den ganzen Tag</a></h3>
        <div class="date">
          14.07.2016 - 28.07.2016
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="book-entry content-margin">
        <h3><a href="#">Es regnet den ganzen Tag</a></h3>
        <div class="date">
          14.07.2016 - 28.07.2016
        </div>
      </div>
      <div class="book-entry content-margin">
        <h3><a href="#">Es regnet den ganzen Tag</a></h3>
        <div class="date">
          14.07.2016 - 28.07.2016
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="<%= image_url('huettenbuch.jpg')%>">
    </div>
    <div class="col-md-6">
      <img src="<%= image_url('huettenbuch.jpg')%>">
    </div>
  </div>
</div>

