/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 *= require summernote
 */

@import "bootstrap_custom";
@import "summernote";
@import "content";
@import "pages";
@import "guestbook";
@import "users";

.btn .material-icons {
	vertical-align: bottom;
}
.navbar {
	margin: 1rem 0;
	display: flex;
	justify-content: space-between;
	&::after {
		content: none;
	}
}
.login-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	.logo {
		position: absolute;
		text-align: center;
		top: -4rem;
		right: 0;
		left: 0;
	}
}