// Place all the styles related to the content controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$green: #417505;
//* $lightbrown: #8B572A;
$brown: #613c1d;
$orange: #F5A623;
