// Place all the styles related to the guestbook_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-group-same {
	display: flex;
	.btn {
		flex: 1;
	}
}

.blog-post-btns {
	justify-content: space-between;
	margin-bottom: 30px;
}

.article-listing {
	.list-group-item {
		border: none;
		border-bottom: 1px solid $brown;
		margin-bottom: 0;
		border-radius: none;

		&:last-child {
			border: none;
		}

		.author {
			font-size: 12px;
			align-self: center;
		}
	}
	a {
		color: $green;

		&:hover {
			background: #B2CC95;
		}
	}
	
}

.last-posts {
	border: 2px solid $brown;
	border-radius: 5px;
	padding: 15px;

	ol {
		margin-bottom: 0;
		li {
			border-bottom: 1px solid $brown;
			padding: 5px 0;
			display: flex;
			align-items: center;
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				border: none;
				padding-bottom: 0;
			}

			img {
				width: 10%;
				margin-right: 10px;
			}
		}
	}
}