// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pages {
	margin-top: 1rem;
	.list-group-item {
		display: flex;
		span {
			margin-left: auto;
		}
	}
}
.sidebar-module {
	.btn {
		margin-bottom: 1rem;
	}
}
h1.page-edit {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	small {
		font-size: 40%;
		text-align: right;
	}
}

.note-editable {
	min-height: 250px;
}