// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pages {
	margin-top: 1rem;
	.list-group-item {
		display: flex;
		span {
			margin-left: auto;
		}
	}
}
.sidebar-module {
	.btn {
		margin-bottom: 3rem;
	}
}
h2.page-edit {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-flow: column;
	small {
		font-size: 40%;
		text-align: right;

		&.text-muted {
			font-size: 14px;
			line-height: 20px;
		}
	}
}

.note-editable {
	min-height: 250px;
}