<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      <h1 class="display-3">Willkommen zur H端ttenseite</h1>
      <p class="lead">Furfm furfm furfmschnaps.</p>
      <hr class="m-y-2">
      <p>Die Seite befindet sich aktuell im Aufbau. Daher sind noch nicht alle Funktionen verf端gbar. Schau dich einfach um!
        <br>Was du aber auf jeden Fall schon tun kannst, ist einen Eintrag im H端ttenbuch zu verfassen.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Zum H端ttenbuch</a>
      </p>
    </div>
  </div>
</div>