<% if notice.present? %>
	<div class="container">
    <div class="alert-content">
		  <div class="alert alert-success" role="alert"><%= notice %></div>
    </div>
	</div>
<% end %>
<% if alert.present? %>
	<div class="container">
    <div class="alert-content">
		  <div class="alert alert-danger" role="alert"><%= alert %></div>
    </div>
	</div>
<% end %>