<% if notice.present? %>
	<div class="container">
		<div class="alert alert-success" role="alert">
	      <%= notice %>
	    </div>
	</div>
<% end %>
<% if alert.present? %>
	<div class="container">
		<div class="alert alert-danger" role="alert">
	      <%= alert %>
	    </div>	
	</div>
<% end %>